<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927514031895-jdr54tvsrsb39lu3o46cuug1dha300rf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927514031895-jdr54tvsrsb39lu3o46cuug1dha300rf</string>
	<key>API_KEY</key>
	<string>AIzaSyCP7qfm3N50f8yIjdqYUXY_IsTjdnjpENI</string>
	<key>GCM_SENDER_ID</key>
	<string>927514031895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wulfep.mumenfinder</string>
	<key>PROJECT_ID</key>
	<string>mumen-find</string>
	<key>STORAGE_BUCKET</key>
	<string>mumen-find.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927514031895:ios:4f222bb9c360b331fd6952</string>
</dict>
</plist>